*{
    margin: 10;
}

body{
    background-color: grey;
}

h1{
    color:red;
    background-color: aqua;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 20px;
    border: 10px solid black;
    width: 250px;
    height: 25px;
    font-size: 20px;

}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-rigth{
    text-align: right;
}